body {
    text-align: center;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    margin: 0 auto;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#instructions, #intro {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0 auto;
}

#intro {
    font-size: 1.4em;
}

#instructions {
    font-size: 1.2em;
}
